.hero {
  height: 500px;
  background-image: url('/img/1600-hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, .45);
  @media (max-width: 767px) {
    height: 300px;
  }
}

.hero-txt {
  position: relative;
  top: 140px;
  @media (max-width: 767px) {
    top: 0;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 46px;
    color: #fff;
    @media (max-width: 767px) {
      font-size: 30px;
    }
  }
  h2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    @media (max-width: 767px) {
      font-size: 22px;
    }
  }
}
