.panel-item {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about {
  background-color: #fff;
}

.coaching {
  background-color: #fff;
}

.team-training {
  background-color: $tps-gray;
  color: #fff;

}

.game-day {
  background-color: $tps-gray;
  color: #fff;

}

.cta01 {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url('/img/cta-background-3.jpg');
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, .45);
  background-size: 100%;
  color: #fff;
}

.private-lessons {
  background-color: $tps-gray;
  color: #fff;
}

.tps-elite {
  background-color: $tps-gray;
  color: #fff;
}

.gallery {
  background-color: #fff;
}

.summer-camps {
  background-color: #fff;
}

.cta02 {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url('/img/cta-background-2.jpg');
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, .25);
  background-size: 100%;
  color: #fff;
}

.winter-clinics {
  background-color: #fff;
}

.personal-fitness {
  background-color: #fff;
}

.fit-sit {
  background-color: $tps-gray;
  color: #fff;

}

.testimonials {
  background-color: $tps-gray;
  color: #fff;
}
