.panel-item {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.logo {
  padding-top: 20px;
  max-height: 320px;
}

.white {
  background-color: #fff;
}

.gray {
  background-color: $tps-gray;
  color: #fff;
  a {
    color: #47aaff;
    &:hover {
      color: #ccc;
    }
  }
}

.cta01 {
  padding-top: 140px;
  padding-bottom: 140px;
  @media (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  background-image: url('/img/cta-background-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, .45);
  color: #fff;
}

.cta02 {
  padding-top: 140px;
  padding-bottom: 140px;
  @media (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  background-image: url('/img/cta-background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, .45);
  color: #fff;
}

.calendar {
  @media (max-width: 767px) {
    display: none;
  }
}
