.panel-item {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.about {
  background-color: #fff;
  img {
    max-height: 320px;
  }
}

.logo {
  padding-top: 20px;
}

.coaching {
  background-color: #fff;
}

.team-training {
  background-color: $tps-gray;
  color: #fff;

}

.game-day {
  background-color: $tps-gray;
  color: #fff;

}

.cta01 {
  padding-top: 140px;
  padding-bottom: 140px;
  @media (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  background-image: url('/img/cta-background-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, .45);
  color: #fff;
}

.private-lessons {
  background-color: $tps-gray;
  color: #fff;
}

.tps-elite {
  background-color: $tps-gray;
  color: #fff;
}

.gallery {
  background-color: #fff;
}

.summer-camps {
  background-color: #fff;
}

.cta02 {
  padding-top: 140px;
  padding-bottom: 140px;
  @media (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  background-image: url('/img/cta-background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, .45);
  color: #fff;
}

.winter-clinics {
  background-color: #fff;
}

.personal-fitness {
  background-color: #fff;
}

.fit-sit {
  background-color: $tps-gray;
  color: #fff;

}

.testimonials {
  background-color: $tps-gray;
  color: #fff;
  @media (max-width: 767px) {
    display: none;
  }
}

.calendar {
  @media (max-width: 767px) {
    display: none;
  }
}
