.panel-item {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about {
  background-color: #fff;
}

.coaching {
  background-color: #fff;
}

.team-training {
  background-color: #fff;
}

.game-day {
  background-color: #fff;
}

.cta01 {
  background-color: #fff;
}

.private-lessons {
  background-color: #fff;
}

.tps-elite {
  background-color: #fff;
}

.gallery {
  background-color: #fff;
}

.summer-camps {
  background-color: #fff;
}

.cta02 {
  background-color: #fff;
}

.winter-clinics {
  background-color: #fff;
}

.personal-fitness {
  background-color: #fff;
}

.fit-sit {
  background-color: #fff;
}

.testimonials {
  background-color: #fff;
}
